/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin & padding */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Set core root defaults */
html {
  height: -webkit-fill-available;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
}

/* Set core body defaults */
body {
  margin: 0;
  height: -webkit-fill-available;
  background: black;
  color: white;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", sans-serif;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Apply cursor pointer to button elements */
button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;
}

/* Correct the inability to style clickable types in iOS */
button {
  -webkit-appearance: button;
}

/* Remove focus outline */
a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
  outline: none;
}

/* Remote anchor style */
a {
  color: white;
  text-decoration: none;
}

/* Remove tap highlight color */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

/* Remove input search styling */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.authModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.authInput {
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px solid white;
  font-size: 64px;
  color: white;
}
